@page "/"
@using SledgeRental.Components.Account.Shared

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hallo!</h1>

        Klicke auf eine option links im menü um zu starten!

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
